<div class="login-widget">
	<div id="login-widget-content">
		<form method="post" action="#">
			<input type="text" class="icon custom-input" style="background-image: url(@Url.Content("~/Content/LoginWidget/images/username_field.png"));" placeholder="Username" />
			<input type="password" class="icon custom-input" style="background-image: url(@Url.Content("~/Content/LoginWidget/images/password_field.png"));" placeholder="Password" />
			<input type="submit" class="full big button pink" value="Đăng nhập" />
		</form>
	</div>
</div>


@*<script type="text/javascript">
    $(document).ready(function () {
        $("#login-widget-content").css("display","none");
        $("#login-widget-switch").click(function () {
            $("#login-widget-content").toggle();
        });
    });
</script>*@