<hgroup>
    <h1 class="site_title"><a href="#">@ViewBag.SiteTitle</a></h1>
    <h2 class="section_title">Bảng điều khiển</h2>
    <div class="btn_view_site"><a href="@Url.Action("Index", "Home", new {area=""})">Trang chủ</a></div>
</hgroup>