
<div class="subscribe_block">
    <div class="find_us">
        <h3>Find us on</h3>
        <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a> </div>
    <div class="subscribe_nl">
        <h3>Đăng ký nhận tin mới</h3>
        <small>Hãy đăng ký ngay hôm nay để nhận tin mới nhất</small>
        <form id="newsletter" method="post" action="#">
            <input type="text" class="input-text" value="Email nhận tin của bạn" title="Enter your email" id="newsletter" name="email">
            <button class="button" title="" type="submit"></button>
        </form>
    </div>
</div>
