@{
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
    <h4 class="alert_info">Xin chào Admin! Hãy chọn các danh mục bên trái để quản lý!</h4>

    <article class="module width_full">
        <header><h3>Stats</h3></header>
        <div class="module_content">
            <article class="stats_graph">
                <img src="@Url.Content("~/Images/chart.png")" width="520" height="140" alt="" />
            </article>

            <article class="stats_overview">
                <div class="overview_today">
                    <p class="overview_day">Today</p>
                    <p class="overview_count">1,876</p>
                    <p class="overview_type">Hits</p>
                    <p class="overview_count">2,103</p>
                    <p class="overview_type">Views</p>
                </div>
                <div class="overview_previous">
                    <p class="overview_day">Yesterday</p>
                    <p class="overview_count">1,646</p>
                    <p class="overview_type">Hits</p>
                    <p class="overview_count">2,054</p>
                    <p class="overview_type">Views</p>
                </div>
            </article>
            <div class="clear"></div>
        </div>
    </article><!-- end of stats article -->


    <div class="spacer"></div>
