@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="alert_info">Tính năng này đang trong quá trình phát triển, xin vui lòng chọn tính năng khác</h4>
